.div__inline-block{
    display: inline-block;
}

.header__search{
    margin-left: auto;
    margin-right: auto;
}

.color--green{
    color: #66A060;
}

.button--white{
    color: white;
}

.q{
    background-color: white;
    width: 10px;
    height: 10px;
    margin: 2px;
}

.container{
    display:flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: space-around;
}

.box1 {
    border: 1px solid #68C37E;
    margin: 70px auto;
    padding: 50px;
}

.box1--position-left{
    width: 600px;
    height: 20px;
    padding: 5px;
}

.box1--position-right{
    width: 250px;
    height: 10px;
    padding: 30px;
    margin: 1px;
}

.box2{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 1500px auto;
}

.container2__box2 {
    border: 1px solid #68C37E;
    margin: 80px;
    padding: 50px;
    width: 250px;
}

.container2__box2__teaser{
    width: 250px auto;
    height: 10px auto;
    padding: 30px auto;
    margin: 1px;
}

.color--grey{
    color:#B8B2B2;
}

@media all and (max-width: 800px) {
    .container1{
        flex:2 100%;
        max-width: 600px;
    }
    .container2{
        flex: 100%;
        order:2;
        max-width: 600px;
    }
    .box1{
        flex: 100%;
        order:1;
        max-width: 400px;
    }
}

.line_break::after{
    content: "\A";
    white-space: pre-line;
}