div.container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    /* further article to wrap */
    flex-wrap: wrap;
}

div.para{
    display: flex;
    justify-content: space-around;
}

.item{
    display: flex;
    flex:none;
}

div.box1 {
    border: 1px solid #68C37E;
    margin: 70px auto;
    padding: 50px;
    
}

div.box2 {
    border: 1px solid #68C37E;
    margin: 70px;
    padding: 50px;
    width: 250px;
}

*.center{
    text-align: center;
}

*.left{
    
    width: 600px;
    height: 20px;
    padding: 5px;
    margin: 0px;
    border: 0px;    
}

*.mainright{
    width: 250px;
    height: 10px;
    padding: 30px;
    margin: 1px;
    border: 0px;
}

*.secondright{
    width: 250px auto;
    height: 10px auto;
    padding: 30px auto;
    margin: 1px;
    border: 0px;
}

div{
    display: inline-block;
}

.nextarticle{
    width: 1300px;
    float: left;
}

p, div, a{
    color: #66A060;
}

#teaser, #info{
    color:#B2B2B2;
}

.q{
    width: 10px;
    height: 10px;
    padding: 0px;
    margin: 2px;
}