.container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    /* further article to wrap */
    flex-wrap: wrap;
}

.para{
    display: flex;
    justify-content: space-around;
}

.item{
    display: flex;
    flex:none;
}

.box1 {
    border: 1px solid green;
    margin: 70px auto;
    padding: 50px;
    
}

.box2 {
    border: 1px solid green;
    margin: 70px auto;
    padding: 100px;
    
}

.center{
    text-align: center;
}

.left{
    
    width: 600px;
    height: 20px;
    padding: 5px;
    margin: 0px;
    border: 0px;    
}

.right{
    width: 500px;
    height: 10px;
    padding: 30px;
    margin: 1px;
    border: 0px;
}

div{
    display: inline-block;
}

.nextarticle{
    width: 1300px;
    float: left;
}
